html
	head
		title="Waifu Viewer"
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(name="theme-color", content="#f37321")
		link(rel="stylesheet", type="text/css", href="style.css")

	body

